%section.demo(data-bindable="circle-touch-tracker-demo")
  %div.demo_info
    %h6 CircleTouchTracker demo
    %div Use your mouse like an iPod wheel. The mouse/touch must stay in between the inner & outer radius of the control.
    %p.classes Demos the following classes
    %div modeset/mouse/touch_tracker.js
    %div modeset/mouse/circle_touch_tracker.js
    %div modeset/mouse/cursor_hand.js
    %div modeset/style/css_helper.js
    %div modeset/media/image/canvas_util.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %canvas#dial_debug(width="400" height="400")
      %div.dial
        %div.dial_inner_radius
      %div.dial_control
        %div.dial_inner_radius
  %div.demo_console
    %h6 Console
    %div.status