%div.demo_info
  %h6 DisplacementPoint demo
  %div Mouse over the box.
%div.demo_holder
  %div.controls_ui.right_side
  %div.container
    %div.displacement

:coffeescript
  Demo = ->
    _touch_tracker = null
    _touch_delegate = null
    _box = null
    _box_div = $("div.displacement")
    _box_layer = $("div.container")
    _box_base_x = 150
    _box_base_y = 150

    _config =
      friction: 0.5
      accel: 0.5

    prepContainers = ->
      $("div.container").css
        position: "relative"
        height: "400px"
        width: "400px"
        backgroundColor: "#ff0"

      $("div.displacement").css
        position: "absolute"
        height: "100px"
        width: "100px"
        backgroundColor: "#f0f"

    initDisplacement = ->
      _touch_tracker = new MouseAndTouchTracker(_box_layer[0], null, false, "div")
      _box = new DisplacementPoint(_box_base_x, _box_base_y, 0.75, 0.4, 100)
      setUpControls()
      runTimer()

    setUpControls = ->
      _gui = new dat.GUI(autoPlace: false)
      document.getElementsByClassName("controls_ui")[0].appendChild _gui.domElement
      $(".controls_ui .close-button").remove()

      frictionVal = _gui.add(_config, "friction", 0.1, 0.9)
      frictionVal.listen()
      frictionVal.onChange (value) ->
        _box.setFriction value

      accelVal = _gui.add(_config, "accel", 0.1, 0.9)
      accelVal.listen()
      accelVal.onChange (value) ->
        _box.setAccel value

    runTimer = ->
      _box.update _touch_tracker.touchcurrent.x - 50, _touch_tracker.touchcurrent.y - 50
      _box_div.css
        top: _box.y() + "px"
        left: _box.x() + "px"

      setTimeout (->
        runTimer()
      ), 33

    $(document).ready ->
      prepContainers()
      initDisplacement()

  new Demo()