%section.demo(data-bindable="displacement-point-demo")
  %div.demo_info
    %h6 DisplacementPoint demo
    %div Try to mouse over the box.
    %p.classes Demos the following classes
    %div modeset/math/elastic_point.js
    %div modeset/scroll/touch_tracker.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.displacement
