%section.demo(data-bindable="easing-float-demo")
  %div.demo_info
    %h6 EasingFloat demo
    %div Use the controls to adjust the easing.
    %p.classes Demos the following classes
    %div modeset/math/easing_float.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.easing