%section.demo(data-bindable="elastic-point-demo")
  %div.demo_info
    %h6 ElasticPoint demo
    %div Drag the box.
    %p.classes Demos the following classes
    %div modeset/math/elastic_point.js
    %div modeset/scroll/touch_tracker.js
    %div modeset/scroll/cursor.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.elastic
