%section.demo(data-bindable="fps-time-factor-demo")
  %div.demo_info
    %h1 FpsTimeFactor demo
    %div Runs alongside a local timer, keeping track of actual FPS vs. target FPS, giving us a "time factor" to multiply values that should be independent of actual FPS. This lets us animate things at a consistent pace, regardless of framerate fluctuations.
    %p.classes Demos the following classes
    %div modeset/anim/fps_time_factor.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.anim_container
      %div.anim_obj
  %div.demo_console
    %h6 Console
    %div.status