%section.demo(data-bindable="pinch-rotate-demo")
  %div.demo_info
    %h1 PinchRotateCallback demo
    %div Pinch and rotate within a container to scale and rotate an element.
    %p.classes Demos the following classes
    %div modeset/mobile/mobile-util.js
    %div modeset/gesture/pinch-rotate-callback.coffee
    %div modeset/style/css_helper.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.pinchholder
        %div.pinchpoint
  %div.demo_console
    %h6 Console
    %div.status
