%section.demo(data-bindable="gesture-bowling-demo")
  %div.demo_info
    %h1 GestureBowling demo
    %div Detect a bowling gesture on a mobile device.
    %p.classes Demos the following classes
    %div modeset/mobile/mobile-util.js
    %div modeset/mobile/accelerometer-util.js
    %div modeset/gesture/bowling.coffee
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.pointholder
        %div.point
  %div.demo_console
    %h6 Console
    %div.status
