%section.demo(data-bindable="gesture-spin360-demo")
  %div.demo_info
    %h1 GestureSpin360 demo
    %div Detect an axis spin on a gyroscope-enabled mobile device.
    %p.classes Demos the following classes
    %div modeset/mobile/mobile-util.js
    %div modeset/mobile/accelerometer-util.js
    %div modeset/gesture/spin-360.coffee
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.clockwise Clockwise
      %div.counter-clockwise Counter
  %div.demo_console
    %h6 Console
    %div.status
