%section.demo(data-bindable="gesture-circle-touch-360-demo")
  %div.demo_info
    %h1 GestureCircleTouch360 demo
    %div Detect a 360&deg; spin around an iPod-like circular control. Works with mouse and touch interactions.
    %p.classes Demos the following classes
    %div modeset/mobile/mobile-util.js
    %div modeset/gesture/circle-touch-360.coffee
    %div modeset/style/css_helper.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %canvas.circle-control(width="400" height="400")
  %div.demo_console
    %h6 Console
    %div.status
