%section.demo(data-bindable="gesture-shake-demo")
  %div.demo_info
    %h1 GestureShake demo
    %div Move a point within a rectangular bounds based on device x/y acceleration. Requires a mobile device with accelerometer support.
    %p.classes Demos the following classes
    %div modeset/mobile/mobile-util.js
    %div modeset/mobile/accelerometer-util.js
    %div modeset/gesture/shake.coffee
    %div modeset/style/css_helper.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.shakeholder
        %div.shakepoint
  %div.demo_console
    %h6 Console
    %div.status
