%section.demo(data-bindable="mode-set-logo-demo")
  %div.demo_info
    %h6 ModeSetLogo demo
    %div Watch the drawing.
    %p.classes Demos the following classes
    %div modeset/media/image/canvas_util.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
