%section.demo(data-bindable="mode-set-logo-demo")
  %div.demo_info
    %h6 ModeSetLogo demo
    %div Watch the drawing.
    %p.classes Demos the following classes
    %div modeset/math/displacement_point.js
    %div modeset/mouse/touch_tracker.js
    %div modeset/mobile/gestures/shake.coffee
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
