%section.demo(data-bindable="signature-demo")
  %div.demo_info
    %h1 Signature demo
    %div Draw a signature to a canvas element.
    %p.classes Demos the following classes
    %div modeset/form/signature.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %canvas.signature
  %div.demo_console
    %h6 Console
    %div.status
