%section.demo(data-bindable="sound-sequence-demo")
  %div.demo_info
    %h6 SoundPlayer demo
    %div Listen...
    %p.classes Demos the following classes
    %div modeset/media/audio/sound_player.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %canvas(width="400" height="400")