%section.demo(data-bindable="sprite-animation-demo")
  %div.demo_info
    %h6 SpriteAnimation demo
    %div Moves a .png image sequence sprite inside of a container, at a specific framerate.
    %p.classes Demos the following classes
    %div modeset/anim/sprite_animation.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.container
      %div.image_holder
        %img(src="/images/demo/loader-sprite.png" width="400" height="50")
