%section.demo(data-bindable="touch-scroller-form-focus-demo")
  %div.demo_info
    %h1 TouchScrollerFormFocus demo
    %div Animates form fields into view on focus() within a TouchScroller. Specifically for use on mobile/phonegap projects when you need more native-like behavior with forms. Also holds the window in place to prevent the default behavior of iOS HTML forms of zooming/panning between fields. This demo doesnt give the full picture, but it does show the code setup.
  %div.demo_holder
    %div.controls_ui.right_side
    %div.scroll_outer
      %div.scroll_inner
        %input.form_focus
        %input.form_focus
        %input.form_focus
        %input.form_focus

  %div.demo_console
    %h6 Console
    %div.status
