%section.demo(data-bindable="touch-scroller-demo")
  %div.demo_info
    %h6 Scroller demo
    %div For all your scrollable needs.
    %p.classes Demos the following classes
    %div modeset/mouse/touch_tracker.js
    %div modeset/mouse/cursor_hand.js
    %div modeset/mobile/button_touch_callback.js
    %div modeset/components/scroll/touch_scroller.js
  %div.demo_holder
    %div.controls_ui.right_side
    %div.scroll_outer
      %div.scroll_inner
        %button

  %div.demo_console
    %h6 Console
    %div.status
