div#site
  width: 600px
  margin: 0 auto

  header
    padding: 20px 0 0
    margin: 0 0 20px
    border-bottom: 1px solid $grey9


  .demo_info
    background-color: $greyD
    padding: 20px

  .demo_info
    margin: 20px 0

  .demo_controls
    margin: 20px 0
    padding: 20px
    background-color: $greyD
