body
  cursor: url(/images/cursors/c64/cursor.png),url(/images/cursors/c64/cursor.cur),auto
a
  cursor: pointer

div#site
  width: 650px
  margin: 0 auto
  overflow-x: hidden

  header
    h3
      padding: 20px 0 10px
      border-bottom: 1px solid $grey9

    nav
      float: left
      width: 100%
      display: block
      padding: 10px 0 20px
      ul li
        margin-right: 5px
        float: left
      ul li a
        +border-radius(5px)
        padding: 10px
        background-color: $blue60
        color: $white


  .demo_info
    clear: both
    background-color: $white
    padding: 20px
    +box-shadow($box_shadow_inner)
    p.classes
      margin-top: 18px
      font-weight: bold
      text-decoration: underline

  .demo_holder
    border: 1px solid $grey9
    margin: 20px 0

  .demo_console
    padding: 20px
    background-color: $greyD
    .status
      font-family: Andale Mono, monospace

  .demo_usage
    margin: 20px 0
    padding: 20px
    background-color: $greyD

  .demo_group
    margin-bottom: 30px

  div.controls_ui
    padding: 10px 0

  div.controls_ui.right_side
    padding: 0
    float: right
    width: 245px
    overflow: hidden

  h1
    font-size: 24px
    margin-bottom: 12px
  h2
    font-size: 20px
    margin-bottom: 12px

hr
  clear: both