/* Outer container - progressively enhance */
.scroll_outer {
  position:relative;
  overflow:scroll;
}

.scroll_outer.horizontal,
.scroll_outer.vertical {
  overflow:hidden;
}

/* Inner content */
.scroll_inner {
  position:relative;
  left:0px;
  top:0px;
  float:left;
}

/* Scroll bar holder */
.scroll_outer div.scroll_bar {
  position:absolute;
  overflow:hidden;
  z-index:10;
}

.scroll_outer.horizontal div.scroll_bar {
  height:5px;
  left:0;
  bottom:4px;
  padding:0 4px;
}

.scroll_outer.vertical div.scroll_bar {
  width:5px;
  right:4px;
  top:0;
  padding:4px 0;
}

/* Scroll bar indicator */
.scroll_outer div.scroll_bar_pill {
  position:absolute;
  display:none;
  left:0px;
  top:0px;
  background-color:black;
  opacity:0.5;

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;

  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.scroll_outer.horizontal div.scroll_bar_pill {
  height:5px;
}

.scroll_outer.vertical div.scroll_bar_pill {
  width:5px;
}
