/* Outer container - progressively enhance */
.scroll_outer {
  position:relative;
  overflow:hidden;
}


/* Inner content */
.scroll_inner {
  position:relative;
  left:0px;
  top:0px;
  float:left;

  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

/* Scroll bar holder */
.scroll_outer .scroll_bar {
  position:absolute;
  overflow:hidden;
  z-index:10;
}

.scroll_outer .scroll_bar.horizontal {
  height:5px;
  left:0;
  bottom:4px;
  padding:0 4px;
}

.scroll_outer .scroll_bar.vertical {
  width:5px;
  right:4px;
  top:0;
  padding:4px 0;
}

/* Scroll bar indicator */
.scroll_outer .scroll_bar_pill {
  position:absolute;
  left:0px;
  top:0px;
  background-color: black;
  opacity:0;

  -webkit-border-radius:6px;
  -o-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.no-android .scroll_outer .scroll_bar_pill {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.scroll_outer .scroll_bar.horizontal .scroll_bar_pill {
  height:5px;
}

.scroll_outer .scroll_bar.vertical .scroll_bar_pill {
  width:5px;
}

div.scroll_bar_pill.showing {
  display:block;
  opacity:1;
}
