%div
  %h2 Anim
  %div.demo_group
    %div
      %a(href="demos/fps_time_factor") FpsTimeFactor
  %h2 Math
  %div.demo_group
    / %div
    /   %a(href="demos/math_util") MathUtil
    %div
      %a(href="demos/easing_float") EasingFloat
    %div
      %a(href="demos/elastic_point") ElasticPoint
    %div
      %a(href="demos/displacement_point") DisplacementPoint
  %h2 Media / Image
  %div.demo_group
    %div
      %a(href="demos/image_crop") ImageCrop
    %div
      %a(href="demos/get_image_size") GetImageSize
  %h2 Touch
  %div.demo_group
    %div
      %a(href="demos/touch_scroller") TouchScroller
  %h2 Mobile
  %div.demo_group
    %div
      %a(href="demos/touch_scroller_form_focus") TouchScrollerFormFocus
