%div
  %h2 Anim
  %div.demo_group
    %div
      %a(href="demos/fps_time_factor") FpsTimeFactor
    %div
      %a(href="demos/sprite_animation") SpriteAnimation
  %h2 Math
  %div.demo_group
    / %div
    /   %a(href="demos/math_util") MathUtil
    %div
      %a(href="demos/easing_float") EasingFloat
    %div
      %a(href="demos/elastic_point") ElasticPoint
    %div
      %a(href="demos/displacement_point") DisplacementPoint
    %div
      %a(href="demos/mode_set_logo") Mode Set Logo
  %h2 Media / Image
  %div.demo_group
    %div
      %a(href="demos/carousel") Carousel
    %div
      %a(href="demos/image_crop") ImageCrop
    %div
      %a(href="demos/get_image_size") GetImageSize
    %div
      %a(href="demos/canvas_util") CanvasUtil
  %h2 Mouse / Touch
  %div.demo_group
    %div
      %a(href="demos/circle_touch_tracker") CircleTouchTracker
    %div
      %a(href="demos/touch_scroller") TouchScroller / ButtonTouchCallback
    %div
      %a(href="demos/touch_scroller_form_focus") TouchScrollerFormFocus (mobile-only)
  %h2 Gestures
  %div.demo_group
    %div
      %a(href="demos/gesture_shake") Shake
    %div
      %a(href="demos/gesture_spin360") Spin360
    %div
      %a(href="demos/gesture_circle_touch_360") CircleTouch360
    %div
      %a(href="demos/gesture_tilt_bounds") TiltBounds
    %div
      %a(href="demos/gesture_touch_point_bounds") TouchPointBounds


