%header
  %h3 Mode Set .js
  %nav
    %ul
      %li
        %a(href="/") Home
      %li
        %a(href="/demos") Demos
      %li
        %a(href="/specs") Run Tests
      %li
        %a(href="#") Docs
  %hr